{% extends "base.html" %}
{% block title %}{{ medication.title }}{% endblock %}
{% block content %}
<style>
    @font-face {
        font-family: centraleSans-light;
        src: url("../static/fonts/CentraleSans-Light.ttf")
    }

    html {
        font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;;
        line-height: 1.3;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    body {
        margin: 0;
    }

    p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0.5em;
        text-align: justify;
    }

    #first-pic {
        width: 100%;
        height: auto;
    }

    #content {
        margin: 0 1.56em
    }

    #title {
        color: rgb(21, 123, 170);
        font-weight: normal;
    }
</style>
<img id="first-pic" src="{{ medication.pic.url }}" alt="{{ medication.pic.name }}">
<div id="content">
    <h1 id="title">{{ medication.title }}</h1>
    {{ medication.body | safe }}
</div>
{% endblock %}
